.container {
  /* display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px); */
  /* grid-template-areas:
    "tile1 tile2 tile3"
    "tile4 tile5 tile6"
    "tile7 tile8 tile9"; */
  /* width: 150px;
  height: 150px; */

  display: grid;
  grid-template-columns: repeat(3, 500px);
}

/* .tile1 {
  grid-area: tile1;
}

.tile2 {
  grid-area: tile2;
}

.tile4 {
  grid-area: tile4;
}

.tile5 {
  grid-area: tile5;
}

.tile6 {
  grid-area: tile6;
}

.tile7 {
  grid-area: tile7;
}

.tile8 {
  grid-area: tile8;
}

.tile9 {
  grid-area: tile9;
} */

h1 {
  border: 3px solid black;
  height: 50px;
  width: 50px;
  margin: 0;
}
