.root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
}

.mainContainer {
  height: 200px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  outline: none;
  font-size: 24px;
}

.button {
  height: 34px;
  padding-left: 20px;
  padding-right: 20px;
}
